*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}
html,body{
    height: 100%;
    width: 100%;

}
.main{
    height: 100%;
    width: 100%;
    /* background: seagreen; */
    padding: 0.1px;

}
nav{
    display: flex;
    padding: 0% 20px;
    margin-top: 10px;
    height: 12vh;
    border-top: 2px solid black;
    border-bottom: 2px black solid;
   /* background: gray; */
}
nav h1{
    font-size: 2.5vw;
    position: relative;
    font-family: monument;
    height: 100%;
    /* background: goldenrod; */
   
    width: 20%;
    display: flex;
    align-items: center;
    justify-content:center;
}
nav h1::after{
    content: 'modal development';
    font-size: 8.5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
    position: absolute;
    bottom: 24%;
    left: 50%;
    color: #333;
}
nav h2{
    
    font-weight: 400;
    width: 22%;
    /* background:gainsboro; */
    font-size: 1.5vw;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;

    justify-content: center;
    border-right: 2px solid black;
}
nav h2:nth-last-child(1){
    width: 10%;
    align-items: center;
    border-right: 0;
}
.contantBox{
  
    display: flex;
    align-items: center;
    justify-content: center;
        height: 87vh;
        width: 100%;
        /* background: sienna; */
}
.imagebox{
    position: relative;
    height: 90%;
    width: 90%;
    background: blueviolet;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.lower{
    position: absolute;
    bottom: 0;
    height: 45%;
    width: 100%;
    /* background: #e0d7d7; */
    color:white;
}
.top{

    display: flex;
    padding: 0 30px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    border-bottom: 2px solid rgb(234, 225, 225);
}
.top h1{
    font-family: monument;
    font-size: 3vw;
    line-height: 1;
    mix-blend-mode: difference;
}
.top h2{
    border: 1px solid white;
    border-radius: 50%;
    padding: 12px;

}
.niche{
    display: flex;
    align-items: start;
    justify-content: space-between;
    height: 50%;
    padding: 0px 30px;
    
    
}
.niche h2{
    text-transform: capitalize;
    padding-top: 10px;
    font-size: 1.3vw;
}
.niche i{
    padding-top: 10px;
    font-size: 5vh;
}
.sliderbox{
    display: flex;
    flex-wrap: nowrap;
    height: 40%;
    /* background: navajowhite; */
    width: 100%;
}
.sliderbox>.container{
  display: flex;
  align-items: center;
  justify-content: center;
    /* background: blue; */
    height: 100%;
    width: 100%;
    gap: 2vh;
        overflow: hidden;
  
    /* animation: a 10s infinite linear ; */
}
.container img{ position: relative;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
     animation: a 10s infinite linear ;  
}

@keyframes a {
    from{
        transform: translateX(0);
    }
    to{
       transform: translateX(-100%);
    }
    
}
.abcbox{
    border: 2px solid black;
    height:12%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
    gap: 5vw;
    
  
}
.abcbox a{
    text-transform: uppercase;
    font-size: 22px;
    font-style: italic;
    font-weight: 600;
    color: black;
}
.abcbox h3{
    font-style: italic;
    letter-spacing: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}
.section{
    /* background: sienna; */
    height: 100%;
    display: flex;
    gap: 20px;
    padding: 5vh 10vh;
  
    
}
.left{
    width: 50%;
    height: 80%;
    /* background: magenta; */
}
.left video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.left .bottom{
    /* background: green; */
    height: 20%;
    padding: 10px;
}
.left .bottom h1{
    font-size: 3vw;
    font-family: monument;
    text-transform: uppercase;
}
.right{
    width: 50%;
    height: 100%;
    /* background: palegoldenrod; */
}

.right img{
    width: 100%;
    height: 60%;
    object-fit: cover;

}
.right .bottom{
    display: flex;
    line-height: 1;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
    height: 29%;
    /* background: #9a2626; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    padding: 10px;
    font-size: 10px;
}
@media (max-width:600px){
  
nav{
    display: flex;
    padding: 0% 20%;
    margin-top: 10px;
    height: 7%;
    border-top: 2px solid black;
    border-bottom: 2px black solid;
   /* background: gray; */
}
nav h1{
    font-size: 5.5vw;
    position: relative;
    font-family: monument;
    height: 100%;
    /* background: goldenrod; */
   
    width: 20%;
    display: flex;
    align-items: center;
    justify-content:center;
}
nav h1::after{
    content: 'modal development';
    font-size: 1.6vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
    position: absolute;
    bottom: 18%;
    left: 40%;
    
    color: #333;
    width: 100%;
    display: none;
}
nav h2{
    
    
    display: none;
    

  
}
nav h2:nth-last-child(1){
    width: 10%;
    align-items: center;
    border-right: 0;
}
.contantBox{
  
    display: flex;
    align-items: center;
    justify-content: center;
        height: 65vh;
        width: 100%;
        /* background: sienna; */
}
.imagebox{
    position: relative;
    height: 90%;
    width: 90%;
    background: blueviolet;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.lower{
    position: absolute;
    bottom: 0;
    height: 45%;
    width: 100%;
    /* background: #e0d7d7; */
    color:white;
}
.top{

    display: flex;
    padding: 0 10px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    border-bottom: 2px solid rgb(234, 225, 225);
}
.top h1{
    font-family: monument;
    font-size: 6.5vw;
    line-height: 1.3;
    mix-blend-mode: difference;
}
.top h2{
    border: 1px solid white;
    border-radius: 50%;
    padding: 12px;

}
.niche{
    display: flex;
    align-items: start;
    justify-content: space-between;
    height: 50%;
    padding: 0px 10px;
    
    
}
.niche h2{
    text-transform: capitalize;
    padding-top: 10px;
    font-size: 5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.niche i{
    padding-top: 10px;
    font-size: 5vh;
}
.sliderbox{
    display: flex;
    flex-wrap: nowrap;
    height: 17%;
    /* background: navajowhite; */
    width: 100%;
}
.sliderbox>.container{
  display: flex;
  align-items: center;
  justify-content: center;
    /* background: blue; */
    height: 100%;
    width: 100%;
    gap: 2vh;
        overflow: hidden;
  
    /* animation: a 10s infinite linear ; */
}
.container img{ position: relative;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    object-fit: cover;
     animation: a 10s infinite linear ;  
}

@keyframes a {
    from{
        transform: translateX(0);
    }
    to{
       transform: translateX(-100%);
    }
    
}
.abcbox{
    border: 2px solid black;
    border-right: 0;
    border-left: 0;
    height:8%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
    gap: 2vw;
    
  
}
.abcbox a{
    text-transform: uppercase;
    font-size: 3.7vw;
    font-style: italic;
    font-weight: 600;
    color: black;
}
.abcbox h3{
    font-style: italic;
    letter-spacing: 1vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.7vh;
}
.section{
    /* background: sienna; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 1vh 2vh;
  
    
}
.left{
    width: 100%;
    height: 50%;
    /* background: magenta; */
}
.left video{
    height: 85%;
    width: 100%;
    object-fit: cover;
}
.left .bottom{
    /* background: green; */
    height: 15%;
    padding: 10px;
    text-align: center;
}
.left .bottom h1{
    font-size: 7vw;
    font-family: monument;
    text-transform: uppercase;
}
.right{
    width: 100%;
    height: 50%;
    /* background: palegoldenrod; */
}

.right img{
    width: 100%;
    height: 60%;
    object-fit: cover;

}
.right .bottom{
    display: flex;
    line-height: 1;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    
    height:40%;
    /* background: #9a2626; */
    padding: 10px;
}
.right .bottom h2{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   line-height: 1.2;
   font-size: 3.4vw;
   text-transform: capitalize;
}
.right .bottom p{
    font-size: 2.6vw;
    line-height: 1.3;
    text-transform: capitalize;
}


}